<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <div class="img-carousel" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%=  @cocktails_sample[0].image_url %>)"></div>
      <div class="carousel-text">
        <%= link_to @cocktails_sample[0].name, cocktail_path(@cocktails_sample[0])%>
      </div>
      <div class="carousel-caption img-responsive">
        
      </div>
    </div>
    <div class="item">
      <div class="img-carousel" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%=  @cocktails_sample[1].image_url %>)"></div>
      <div class="carousel-text">
        <%= link_to @cocktails_sample[1].name, cocktail_path(@cocktails_sample[1])%>
      </div>
      <div class="carousel-caption img-responsive">
        
      </div>
    </div>
    <div class="item">
      <div class="img-carousel" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%=  @cocktails_sample[2].image_url %>)"></div>
      <div class="carousel-text">
        <%= link_to @cocktails_sample[2].name, cocktail_path(@cocktails_sample[2])%>
      </div>
      <div class="carousel-caption img-responsive">
        
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="container">
  <h1 class="text-center">List  Cocktails (<%= @cocktails.count  %>)</h1>
  <span class="label label-info list-tag"><%= link_to "All", "/cocktails/" %> </span>&nbsp;
  <% @tags.each do |tag| %>
    <span class="label label-info list-tag"><%= link_to tag, "/cocktails/?query=#{tag}" %> </span>&nbsp;	
  <% end %>
  <div class="row">
  <% @cocktails.each do |cocktail| %>
    <div class="cards col-sm-4 col-xs-12">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= cocktail.image_url %>)">
        <%= link_to cocktail.name, cocktail_path(cocktail)  %>
      </div>
      <div class="card-tag"><span class="label label-info"><%= cocktail.category %></span></div>
    </div>
  <% end %>
  </div>
</div>


<%= link_to "Add cocktail",new_cocktail_path  %>